.backgroundProfileImg {
    width: 100%;
    min-height: 300px;
}

.backgroundProfileImgDiv {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.profileHeader {
    color: white;
    background-color: #282c37;
}


.profile_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    border: #282c37 7px solid;
    margin-left: 15px;
    overflow: hidden;
}

.profile_logo_col {
    height: 90px;
}

.profile_logo {
    width: 100%;
}

.btn.btn-info {
    background-color: #033076;
    border: black 1px solid;
}

.navText{
    border: none;
    background-color: transparent;
}

.navText:hover{
    cursor: pointer;
}

ul.nav.nav-tabs {
    color: #9aadc7;
}

a.nav-link {
    transition: 0.5s;

}



